{% extends "admincuration/header.html" %}
{% block content %}

<div class="row">
    <div class="container">
      <div class="row">
        <div class = "col-xs-11">
            <h3> Welcome,admin</h3>
        </div>
        <div class = "col-xs-1">
            <a href="/logout/" ><p style="margin-top:25px; margin-bottom:5px;">Log Out </p></a>
        </div>
       
        
      </div>
            
            <ul class="list-group">
              <li class="list-group-item" ><a href="/ad/assign/">Assign Curation</a></li>
              <li class="list-group-item" ><a href="/admin/">Admin page</a></li>
              <!--<li class="list-group-item" ><a href="/ad/create">Create New Curation(add topic, add datasets)</a></li>-->
              <li class="list-group-item" style="color:gray;">Create New Curation</li>
              <li class="list-group-item" style="color:gray;">Delete Curation</li>
              <li class="list-group-item" style="color:gray;">Summary</li>
              <li class="list-group-item" style="color:gray;">Invite New Curator</li>
              <!--<li class="list-group-item" ><a href="#">Invite New Curator</a></li>-->

           </ul>

    </div>
</div>
{% endblock %}
